.question {

margin-bottom: 50px;
}

body {

    text-align: center;
    background-image: url("../images/Trivia.jpg"); 
    /* background-repeat: repeat; */

}
.DisplayClock {

    color: white;
}

.container{

    background-image: url("../images/Trivia3.jpg"); 
      background-repeat: repeat;
    display: inline-block;
    color: black;
    font: size 15px;
    width: 55%;
    height: 50%; 
    font-weight: bold;
}

.button{

    margin-bottom: 30px;
    font-size: 25px;
    padding: 10px  15px;

}

